cnn.zip
src/cnn.zip
*.sh
*.exe
*.zip
*.bat
*.pptx
*zip
*.tar
build_cmake/
build_cmake
build_cmake/*
*.cmake
*.masks
*.log
Makefile
CMakeCache.txt
CMakeFiles
CMakeFiles/*
CMakeFiles/
.xmake
.xmake/
build/
build